@charset "UTF-8";

@font-face {
  font-family: "Saraun";
  src: local("?"), url(/fonts/THSarabunNew.ttf?45905ce12b4739c794a5ebdaee506202);
}

@font-face {
  font-family: "OpenSans";
  src: local("?"), url(/fonts/OpenSans.ttf?629a55a7e793da068dc580d184cc0e31);
}

body {
  font-family: "OpenSans", sans-serif;
}

h1,
.content-header h1,
h2,
h3,
h4,
h5 {
  font-family: "Saraun", sans-serif;
  margin: 7px;
}

button,
.form-log-footer .form-log-btn,
#panel .card .card-body button,
#curriculum-form .agregar {
  border: 0;
  border-radius: 0;
  font-size: 17px;
  background-color: #ECF0F5;
  height: 50px;
  color: #808080;
}

button:hover,
.form-log-footer .form-log-btn:hover,
#panel .card .card-body button:hover,
#curriculum-form .agregar:hover {
  color: black;
}

input,
#panel .card .card-body input,
#curriculum-form input,
#curriculum-form textarea,
#curriculum-form .form-select,
#curriculum-form .form-select select {
  width: 100%;
  border-radius: 0;
  border: 2px solid #ECF0F5;
  height: 50px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 17px;
}

input::-webkit-input-placeholder,
#panel .card .card-body input::-webkit-input-placeholder,
#curriculum-form input::-webkit-input-placeholder,
#curriculum-form textarea::-webkit-input-placeholder,
#curriculum-form .form-select::-webkit-input-placeholder,
#curriculum-form .form-select select::-webkit-input-placeholder {
  font-size: 17px;
  color: #808080;
  text-align: center;
}

input:-ms-input-placeholder,
#panel .card .card-body input:-ms-input-placeholder,
#curriculum-form input:-ms-input-placeholder,
#curriculum-form textarea:-ms-input-placeholder,
#curriculum-form .form-select:-ms-input-placeholder,
#curriculum-form .form-select select:-ms-input-placeholder {
  font-size: 17px;
  color: #808080;
  text-align: center;
}

input::placeholder,
#panel .card .card-body input::placeholder,
#curriculum-form input::placeholder,
#curriculum-form textarea::placeholder,
#curriculum-form .form-select::placeholder,
#curriculum-form .form-select select::placeholder {
  font-size: 17px;
  color: #808080;
  text-align: center;
}

input::-webkit-input-placeholder,
#panel .card .card-body input::-webkit-input-placeholder,
#curriculum-form input::-webkit-input-placeholder,
#curriculum-form textarea::-webkit-input-placeholder,
#curriculum-form .form-select::-webkit-input-placeholder,
#curriculum-form .form-select select::-webkit-input-placeholder {
  font-size: 17px;
  color: #808080;
  text-align: center;
}

input:-ms-input-placeholder,
#panel .card .card-body input:-ms-input-placeholder,
#curriculum-form input:-ms-input-placeholder,
#curriculum-form textarea:-ms-input-placeholder,
#curriculum-form .form-select:-ms-input-placeholder,
#curriculum-form .form-select select:-ms-input-placeholder {
  font-size: 17px;
  color: #808080;
  text-align: center;
}

input:hover::-webkit-input-placeholder,
#panel .card .card-body input:hover::-webkit-input-placeholder,
#curriculum-form input:hover::-webkit-input-placeholder,
#curriculum-form textarea:hover::-webkit-input-placeholder,
#curriculum-form .form-select:hover::-webkit-input-placeholder,
#curriculum-form .form-select select:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:hover:-ms-input-placeholder,
#panel .card .card-body input:hover:-ms-input-placeholder,
#curriculum-form input:hover:-ms-input-placeholder,
#curriculum-form textarea:hover:-ms-input-placeholder,
#curriculum-form .form-select:hover:-ms-input-placeholder,
#curriculum-form .form-select select:hover:-ms-input-placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:hover::placeholder,
#panel .card .card-body input:hover::placeholder,
#curriculum-form input:hover::placeholder,
#curriculum-form textarea:hover::placeholder,
#curriculum-form .form-select:hover::placeholder,
#curriculum-form .form-select select:hover::placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:hover::-webkit-input-placeholder,
#panel .card .card-body input:hover::-webkit-input-placeholder,
#curriculum-form input:hover::-webkit-input-placeholder,
#curriculum-form textarea:hover::-webkit-input-placeholder,
#curriculum-form .form-select:hover::-webkit-input-placeholder,
#curriculum-form .form-select select:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:hover::-moz-placeholder,
#panel .card .card-body input:hover::-moz-placeholder,
#curriculum-form input:hover::-moz-placeholder,
#curriculum-form textarea:hover::-moz-placeholder,
#curriculum-form .form-select:hover::-moz-placeholder,
#curriculum-form .form-select select:hover::-moz-placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:hover:-ms-input-placeholder,
#panel .card .card-body input:hover:-ms-input-placeholder,
#curriculum-form input:hover:-ms-input-placeholder,
#curriculum-form textarea:hover:-ms-input-placeholder,
#curriculum-form .form-select:hover:-ms-input-placeholder,
#curriculum-form .form-select select:hover:-ms-input-placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:hover:-moz-placeholder,
#panel .card .card-body input:hover:-moz-placeholder,
#curriculum-form input:hover:-moz-placeholder,
#curriculum-form textarea:hover:-moz-placeholder,
#curriculum-form .form-select:hover:-moz-placeholder,
#curriculum-form .form-select select:hover:-moz-placeholder {
  font-size: 17px;
  color: black;
  text-align: center;
}

input:focus,
#panel .card .card-body input:focus,
#curriculum-form input:focus,
#curriculum-form textarea:focus,
#curriculum-form .form-select:focus,
#curriculum-form .form-select select:focus,
input:active,
#panel .card .card-body input:active,
#curriculum-form input:active,
#curriculum-form textarea:active,
#curriculum-form .form-select:active,
#curriculum-form .form-select select:active,
input:visited,
#panel .card .card-body input:visited,
#curriculum-form input:visited,
#curriculum-form textarea:visited,
#curriculum-form .form-select:visited,
#curriculum-form .form-select select:visited {
  border-radius: 0;
}

input .error,
#panel .card .card-body input .error,
#curriculum-form input .error,
#curriculum-form textarea .error,
#curriculum-form .form-select .error {
  border-color: #DC3545;
}

input .error:hover,
#panel .card .card-body input .error:hover,
#curriculum-form input .error:hover,
#curriculum-form textarea .error:hover,
#curriculum-form .form-select .error:hover {
  color: #DC3545;
}

a,
.form-reg a {
  text-decoration: none;
}

.spacer {
  height: 30px;
}

#login {
  background-color: #2E5097;
  font-size: 17px;
}

.form-log-cont {
  position: absolute;
  top: 25%;
  left: 42%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  background-color: white;
  text-align: center;
}

.form-log-header {
  width: 100%;
  overflow: hidden;
  background: #ECF0F5;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.form-log-body {
  margin-bottom: 20px;
}

.form-log-body .error {
  border-color: #DC3545;
}

.form-log-body .error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-body .error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-body .error:hover::placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-body .error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-body .error:hover::-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-body .error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-body .error:hover:-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.form-log-footer .form-log-btn {
  width: 100%;
}

.form-reg {
  background-color: #2E5097;
}

.form-reg a {
  width: 100%;
  padding: 10px 107px;
  height: 50px;
  border: 2px solid #ECF0F5;
  border-radius: 0;
  color: #ECF0F5;
  font-size: 17px;
}

.form-reg a:hover {
  background-color: #808080;
  border: 2px solid #808080;
}

.help-block {
  font-size: 11px;
  color: white;
  background-color: #DC3545;
  margin: 0;
  padding: 3px;
}

.alert,
.alert-info {
  position: absolute;
  bottom: 0px;
  border: 0;
  width: 100%;
  border-radius: 0;
}

.alert-info {
  background-color: #4D73BA;
  color: white;
}

.container,
#panel {
  width: 60%;
}

.form-margin {
  padding: 0 15%;
}

#panel {
  background-color: white;
  height: 100%;
  padding: 0;
}

#panel .card {
  height: 100%;
}

#panel .card .card-header {
  height: 100px;
  background-color: #ECF0F5;
  border-top: 4px solid #4D73BA;
}

#panel .card .card-header h1 {
  margin: initial;
  padding: 2%;
  font-size: 60px;
}

#panel .card .card-body {
  -ms-flex-line-pack: center;
      align-content: center;
}

#panel .card .card-body .form-log-footer .form-log-btn,
.form-log-footer #panel .card .card-body .form-log-btn,
#panel .card .card-body button,
#panel .card .card-body #curriculum-form .agregar,
#curriculum-form #panel .card .card-body .agregar {
  width: 100%;
}

#panel .card .card-body .error {
  border-color: #DC3545;
}

#panel .card .card-body .error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#panel .card .card-body .error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#panel .card .card-body .error:hover::placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#panel .card .card-body .error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#panel .card .card-body .error:hover::-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#panel .card .card-body .error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#panel .card .card-body .error:hover:-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

p.lead {
  color: #808080;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input,
.switch #panel .card .card-body input,
#panel .card .card-body .switch input,
.switch #curriculum-form input,
#curriculum-form .switch input,
.switch #curriculum-form textarea,
#curriculum-form .switch textarea,
.switch #curriculum-form .form-select,
#curriculum-form .switch .form-select,
.switch #curriculum-form .form-select select,
#curriculum-form .form-select .switch select {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ECF0F5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider,
#panel .card .card-body input:checked + .slider,
#curriculum-form input:checked + .slider,
#curriculum-form textarea:checked + .slider,
#curriculum-form .form-select:checked + .slider,
#curriculum-form .form-select select:checked + .slider {
  background-color: #4D73BA;
}

input:focus + .slider,
#panel .card .card-body input:focus + .slider,
#curriculum-form input:focus + .slider,
#curriculum-form textarea:focus + .slider,
#curriculum-form .form-select:focus + .slider,
#curriculum-form .form-select select:focus + .slider {
  -webkit-box-shadow: 0 0 1px #4D73BA;
          box-shadow: 0 0 1px #4D73BA;
}

input:checked + .slider:before,
#panel .card .card-body input:checked + .slider:before,
#curriculum-form input:checked + .slider:before,
#curriculum-form textarea:checked + .slider:before,
#curriculum-form .form-select:checked + .slider:before,
#curriculum-form .form-select select:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tipo {
  text-align: left;
  padding: 30px;
}

.skin-blue .main-header .navbar {
  background-color: #4D73BA;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  text-decoration: none;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.skin-blue .main-header .logo {
  background-color: #2E5097;
  text-decoration: none;
}

.skin-blue .main-header .logo:hover {
  background-color: #4D73BA;
}

.skin-blue .main-header li.user-header {
  background-color: #4D73BA;
}

.img-circle,
.navbar-nav > .user-menu .user-image,
.user-panel > .image > img {
  border: 3px solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav > .user-menu .user-image {
  border: 1px solid;
}

.user-panel > .image > img {
  border: 2px solid;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .form-reg .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .form-reg .sidebar-menu > li.active > a {
  border-left-color: #1C3170;
}

.box.box-primary {
  border-radius: 0;
  border-top-color: #4D73BA;
}

.box-header.with-border {
  background-color: #ECF0F5;
  border-radius: 0;
  border: 0;
  color: #808080;
}

.progress-bar-red,
.progress-bar-danger {
  background-color: #DC3545;
}

.progress-bar-yellow,
.progress-bar-warning {
  background-color: #FFC107;
}

.progress-bar-green,
.progress-bar-success {
  background-color: #28A745;
}

.progress-bar-aqua,
.progress-bar-info {
  background-color: #17A2B8;
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
}

.content-header h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.copyleft {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-header h1 {
  border-bottom: 1px solid #808080;
}

.navbar-custom-menu .navbar-nav li .dropdown-menu {
  border: 0;
  border-radius: 0;
}

.navbar-custom-menu .navbar-nav .user-menu .dropdown-menu .user-body {
  border: 0;
  border-radius: 0;
}

.navbar-custom-menu .navbar-nav .notifications-menu .dropdown-menu li.footer a {
  border: 0;
  border-radius: 0;
}

.navbar-custom-menu .navbar-nav .messages-menu .dropdown-menu li.footer a {
  border: 0;
  border-radius: 0;
}

.navbar-custom-menu .navbar-nav .tasks-menu .dropdown-menu li.footer a {
  border: 0;
  border-radius: 0;
}

.box {
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.box.box-default {
  border-color: #4D73BA;
}

.box-header.with-border {
  text-align: center;
}

.box-header.with-border h3 {
  font-size: 30px;
}

.messages-warning {
  color: #FFC107;
}

.notifications-warning {
  background-color: #FFC107;
}

.messages-error {
  color: #DC3545;
}

.messages-success {
  color: white;
}

.notifications-error {
  background-color: #DC3545;
}

.notifications-success {
  background-color: #28A745;
}

.form-check-label {
  font-size: 17px;
  padding: 10px;
  font-family: "OpenSans";
}

#curriculum-form .error {
  border-color: #DC3545;
}

#curriculum-form .error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form .error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form .error:hover::placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form .error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form .error:hover::-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form .error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form .error:hover:-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error,
#curriculum-form textarea[type="radio"].error,
#curriculum-form [type="radio"].error.form-select,
#curriculum-form .form-select select[type="radio"].error {
  border-color: #DC3545;
}

#curriculum-form input[type="radio"].error:hover::-webkit-input-placeholder,
#curriculum-form textarea[type="radio"].error:hover::-webkit-input-placeholder,
#curriculum-form [type="radio"].error.form-select:hover::-webkit-input-placeholder,
#curriculum-form .form-select select[type="radio"].error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error:hover:-ms-input-placeholder,
#curriculum-form textarea[type="radio"].error:hover:-ms-input-placeholder,
#curriculum-form [type="radio"].error.form-select:hover:-ms-input-placeholder,
#curriculum-form .form-select select[type="radio"].error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error:hover::placeholder,
#curriculum-form textarea[type="radio"].error:hover::placeholder,
#curriculum-form [type="radio"].error.form-select:hover::placeholder,
#curriculum-form .form-select select[type="radio"].error:hover::placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error:hover::-webkit-input-placeholder,
#curriculum-form textarea[type="radio"].error:hover::-webkit-input-placeholder,
#curriculum-form [type="radio"].error.form-select:hover::-webkit-input-placeholder,
#curriculum-form .form-select select[type="radio"].error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error:hover::-moz-placeholder,
#curriculum-form textarea[type="radio"].error:hover::-moz-placeholder,
#curriculum-form [type="radio"].error.form-select:hover::-moz-placeholder,
#curriculum-form .form-select select[type="radio"].error:hover::-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error:hover:-ms-input-placeholder,
#curriculum-form textarea[type="radio"].error:hover:-ms-input-placeholder,
#curriculum-form [type="radio"].error.form-select:hover:-ms-input-placeholder,
#curriculum-form .form-select select[type="radio"].error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form input[type="radio"].error:hover:-moz-placeholder,
#curriculum-form textarea[type="radio"].error:hover:-moz-placeholder,
#curriculum-form [type="radio"].error.form-select:hover:-moz-placeholder,
#curriculum-form .form-select select[type="radio"].error:hover:-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

#curriculum-form #panel .card .card-body input[type="radio"],
#panel .card .card-body #curriculum-form input[type="radio"],
#curriculum-form input[type="radio"],
#curriculum-form textarea[type="radio"],
#curriculum-form [type="radio"].form-select,
#curriculum-form .form-select select[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #ECF0F5;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 10px;
  position: relative;
}

#curriculum-form input[type="radio"]:checked,
#curriculum-form textarea[type="radio"]:checked,
#curriculum-form [type="radio"].form-select:checked,
#curriculum-form .form-select select[type="radio"]:checked {
  border: 6px solid #2E5097;
  border-radius: 50%;
}

#curriculum-form label {
  font-weight: normal;
}

#curriculum-form textarea {
  height: 75px;
  text-align: left;
}

#curriculum-form .form-select {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#curriculum-form .form-select:after {
  content: "\25BC";
  padding: 12px 8px;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}

#curriculum-form .form-select select {
  border: none;
  background: white;
  text-align: left;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#curriculum-form .form-select select .error {
  border-color: #DC3545;
}

#curriculum-form .form-select select .error:hover {
  color: #DC3545;
}

#curriculum-form .agregar {
  display: block;
  text-align: center;
}

#curriculum-form .agregar i {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#datos-personales {
  border-color: #1C3170;
}

#formacion-academica {
  border-color: #28A745;
}

#experiencia {
  border-color: #17A2B8;
}

#desarrollo-personal {
  border-color: #D81B60;
}

#reconocimientos {
  border-color: #FF851B;
}

#referencia {
  border-color: #605CA8;
}

#user-foto {
  background: #4D73BA;
  height: 470px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#user-foto:hover label {
  opacity: 1;
  top: 0;
  z-index: 5;
}

#user-foto:hover label i {
  font-size: 50px;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#user-foto:hover input[type="file"],
#user-foto:hover #curriculum-form textarea[type="file"],
#curriculum-form #user-foto:hover textarea[type="file"],
#user-foto:hover #curriculum-form [type="file"].form-select,
#curriculum-form #user-foto:hover [type="file"].form-select,
#user-foto:hover #curriculum-form .form-select select[type="file"],
#curriculum-form .form-select #user-foto:hover select[type="file"] {
  z-index: 6;
}

#user-foto img {
  display: inline-block;
  padding: 20px;
  height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#user-foto img:hover {
  opacity: 0.5;
}

#user-foto label {
  display: block;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: inherit;
}

#user-foto input[type="file"],
#user-foto #panel .card .card-body input[type="file"],
#panel .card .card-body #user-foto input[type="file"],
#user-foto #curriculum-form textarea[type="file"],
#curriculum-form #user-foto textarea[type="file"],
#user-foto #curriculum-form [type="file"].form-select,
#curriculum-form #user-foto [type="file"].form-select,
#user-foto #curriculum-form .form-select select[type="file"],
#curriculum-form .form-select #user-foto select[type="file"] {
  opacity: 0;
  top: 0;
  position: absolute;
  height: 470px;
  width: 100%;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
  background-color: #808080;
  color: white;
  padding: 0 20px 0 23px;
  margin: 0 10px 10px 0;
  display: inline-block;
}

.tags li:hover,
.tags li::after {
  background-color: #ECF0F5;
  color: #808080;
}

.tags li label {
  float: left;
  margin-right: 20px;
}

.tags li span {
  padding: 5px;
  float: right;
}

.tags li span:hover {
  color: #DC3545;
}

.tags li .tag {
  height: 26px;
  line-height: 26px;
  position: relative;
  -webkit-transition: color 0.2s;
}

.tags .hab {
  background-color: #CA195A;
}

.tags .ido {
  background-color: #D81B60;
}

.tags .otr {
  background-color: #E56A97;
}

#excel-table th {
  text-align: center;
}

#excel-table input,
#excel-table #panel .card .card-body input,
#panel .card .card-body #excel-table input,
#excel-table #curriculum-form textarea,
#curriculum-form #excel-table textarea,
#excel-table #curriculum-form .form-select,
#curriculum-form #excel-table .form-select,
#excel-table #curriculum-form .form-select select,
#curriculum-form .form-select #excel-table select {
  text-align: left;
  height: 25px;
  border: none;
}

.error {
  border-color: #DC3545;
}

.error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.error:hover::placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.error:hover::-webkit-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.error:hover::-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.error:hover:-ms-input-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.error:hover:-moz-placeholder {
  font-size: 17px;
  color: #DC3545;
  text-align: center;
}

.flex-center {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

.flex-center .content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-center .content .title {
  font-size: 36px;
  padding: 20px;
}

@media only screen and (max-width: 500px) {
  .form-log-cont {
    left: 26%;
  }
}

@media only screen and (max-width: 700px) {
  .form-log-cont {
    left: 35%;
  }
}

.flex-center .position-ref .full-height {
  background-color: #2E5097;
}

